.footer {
	margin-top:20px;
	line-height:25px;
	text-align:center;
	padding-top:10px;
	border-top:1px solid #ddd;
	background:#f8f8f8;
	height:auto;
	width: 1000px;
}
.footer .foot_nav {
	color:#ccc
}
.footer .foot_nav a {
	padding:0px 10px 0px 10px; font-size:14px
}
.footer .footer_bottom { background:#333; height:38px; line-height:38px; color:#f8f8f8; margin-top:10px;}
.footer .footer_bottom a{ color:#fff}