 <iframe src='http://www.qx666.com/style/gd11x5/video.swf' width="980" rginwidth='0' height='630' scrolling='no' frameborder='0' border='0'></iframe>
<style type="text/css">
	   .divz1{width:50px; height:50px; margin-top:-180px; margin-left:750px; position:fixed;}
	   .divz2{width:200px; height:50px; margin-top:-615px; margin-left:120px; position:fixed;}
	   .divz3{width:200px; height:50px; margin-top:-425px; margin-left:360px; position:fixed;}
	   a{
text-decoration:none;
}
    </style>
<div class="divz1" style="z-index:30"><font color="0000FF" size=6>gw.ruyissc.com</font></div>
<div class="divz2" style="z-index:30"><a href="javascript:" onclick="top.location.href='http://gw.ruyissc.com/gd11x5'"><font color="0000FF" size=6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></a></div>
<div class="divz3" style="z-index:30"><img src="zimg/z_gd11x5.png"></div>