
 <iframe src='http://www.qx666.com/style/xjssc/video.swf' width="980" rginwidth='0' height='630' scrolling='no' frameborder='0' border='0'></iframe>
<style type="text/css">
	   .divz1{width:50px; height:50px; margin-top:-236px; margin-left:853px; position:fixed;}
	   .divz2{width:200px; height:50px; margin-top:-555px; margin-left:185px; position:fixed;}
	   .divz3{width:50px; height:50px; margin-top:-146px; margin-left:433px; position:fixed;}
	   .divz4{width:50px; height:50px; margin-top:-628px; margin-left:483px; position:fixed;}
	a{
text-decoration:none;
}
    </style>
<div class="divz2" style="z-index:30"><font color="0000FF" size=6>gw.ruyissc.com</font></div>
<div class="divz1" style="z-index:30"><img src="zimg/r_xjssc.png"></div>
<div class="divz3" style="z-index:30"><img src="zimg/z_xjssc.png"></div>
<div class="divz4" style="z-index:30"><img src="zimg/t_xjssc.png"></div>
<div class="divz2" style="z-index:30"><a href="javascript:" onclick="top.location.href='http://gw.ruyissc.com/xjssc'"><font color="0000FF" size=6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font></a></div>
