<object type="application/x-shockwave-flash" data="http://www.gpccp.com/carracing.swf" width="980" height="630">
					<param name="movie" value="http://www.gpccp.com/carracing.swf">
					<param name="quality" value="high">
					<param name="bgcolor" value="#000000">
					<param name="play" value="true">
					<param name="loop" value="true">
					<param name="wmode" value="window">
					<param name="scale" value="showall">
					<param name="menu" value="true">
					<param name="devicefont" value="false">
					<param name="salign" value="">
					<param name="allowScriptAccess" value="*">
					<param name="wmode" value="transparent">
					<param name="FlashVars" value="ad=gw.ruyissc.com">
			</object>
