html,body {height:100%;-webkit-user-select:none;user-select:none;outline:none;-webkit-tap-highlight-color:rgba(0,0,0,0);-moz-tap-highlight-color:rgba(0,0,0,0);-ms-tap-highlight-color:rgba(0,0,0,0);tap-highlight-color:rgba(0,0,0,0);}
body,h1,h2,h3,h4,h5,h6,hr,p,dl,dt,dd,ul,ol,li,th,td,form,fieldset,input,label,button{margin:0;padding:0;font-weight:normal;}
a{text-decoration:none;} 
em,i,s{font-style:normal;}
ul,li{list-style:none;}
table{border-collapse:collapse; width:100%; text-align:center;}
th,td{empty-cells:show;  color: #666666}
th{ color: #333333}
button{border:0;font-family:"Microsoft YaHei",Arial;-webkit-appearance:none;}
i,cite{font-style:normal;}
input{-webkit-appearance:none;}
.fl { float:left}
.fr { float:right}
.mt5 { margin-top:5px;}
.h50{ height:8vw; overflow:hidden; clear:both; display:block}
.h100{ height:93px; overflow:hidden; clear:both; display:block}
body{font-size:15px;line-height:1.5;-webkit-text-size-adjust:none;font-family:"Microsoft YaHei",Arial;
	background: #eeeeee;

}

/*第一次引导*/
/*
.guide {position:fixed; width:100%; height:100%; left:0; top:0; bottom:0; right:0; overflow:hidden; z-index:100;}
.guide-layer {position:absolute; width:100%; height:100%; left:0; top:44px; background:#000; opacity:.8;}
.guide-tips {width:125px; height:164px; position:absolute; right:10px; top:30px; background:url(../images/guide.png) no-repeat; background-size:contain;}
.guide-tips .guide-btn {display:block; width:125px; height:35px; position:absolute; left:0; bottom:0; z-index:2;}
*/

/* header */
.header{position:fixed;z-index:100;top:0;left:0;width:100%;height:8vw;background:#f13131;z-index: 9999999;}
.header .logo{    display: block;
	width: 30vw;
	height: 8vw;
	margin: 0 auto;
	line-height: 8vw; text-align: center;
	font-size: 4vw;
	color: #ffffff;
	font-weight: 600;
	/*padding:10px 0 0 10px;*/


}
.barner{ width: 100%; overflow: hidden;}
.barner img{width: 100%; }
.header .logo img{display:block;height: 8vw}
.header .back {
	
	border: none;
	width: 8vw;
	height: 8vw;
	text-indent: -900em;
	overflow: hidden;
	position: absolute;
	top:0;
	left:0;
	cursor: pointer;
	outline: none;
	background: #f13131 url(../images/icon-back.png) no-repeat center center;
	background-size: 30%;
}
.header .menu {
	
	border: none;
	width: 8vw;
	height: 8vw;
	text-indent: -900em;
	overflow: hidden;
	position: absolute;
	top:0;
	right:0;
	cursor: pointer;
	outline: none;
	background: #f13131 url(../images/menu-button-bg.png) no-repeat center center;
	background-size: 70%;
}


.header .close {
	
	border: none;
	width: 50px;
	height: 50px;
	text-indent: -900em;
	overflow: hidden;
	position: absolute;
	top:0;
	right:0;
	cursor: pointer;
	outline: none;
	background: #f13131 url(../images/close.png) no-repeat center center;
	background-size: 50%;
}
/*北京赛车*/
.ui-logo-pk10 {background:url("../images/pk10-logo.png");}
/*北京赛车*/
.ui-logo-xyft {background:url("../images/xyft-logo.png");}
/*重庆时时彩*/
.ui-logo-cqssc {background:url("../images/cqssc-logo.png");}
/*广东快乐十分*/
.ui-logo-gdkl10 {background:url("../images/gdkl10-logo.png");}
/*极速赛车*/
.ui-logo-xync {background:url("../images/jssc-logo.png");}
/*极速时时彩*/
.ui-logo-xjssc {background:url("../images/jsssc-logo.png");}
/*天津时时彩*/
.ui-logo-tjssc {background:url("../images/tjssc-logo.png");}
/*广东11选5*/
.ui-logo-gd11x5 {background:url("../images/gd11x5-logo.png");}
/*江苏快三*/
.ui-logo-jsk3 {background:url("../images/jsk3-logo.png");}

.ui-logo-pc28 {background:url("../images/pc28-logo.png");}

.ui-logo-txffc {background:url("../images/txffc-logo.png");}

/*头彩pk10*/
.ui-logo-tcpk10 {background:url("../images/tcpk10-logo.png");}
/*头彩时时彩*/
.ui-logo-tcssc {background:url("../images/tcssc-logo.png");}

.ui-logo {display:inline-block;width:49px; height:49px; background-size:49px; background-repeat:no-repeat;}
.ui-logo img {width:100%; height:100%;}





#historyList{ background: #ececec}

.kaij-mylist {border-top:1px solid #ECECEC;background:#fff;}
.kaij-mylist-li {position:relative;border:solid #ECECEC;border-width:0 0 1px 0; border-bottom: 2.5vw solid #eeeeee;}
/*.kaij-mylist-li > a {display:block;padding:13px 0;color:#333;}*/
.yx_name{ height: 10vw;
	line-height: 10vw;
	font-size: 3.8vw;
	display: block;
	padding-left: 1vw;font-weight: 600;
	color:#333; position: relative; border-bottom: 1px solid #e0e0e0}
.kaij-mylist-li > a:active {background-color:#F5F5F5;}
.kaij-mylist-l {float:left;width:50px;text-align:center; padding-top:9px}
.kaij-mylist-r {padding:0 1.3vw;}
.kaij-mylist .list-arrow {position:absolute;top:50%;right:10px;margin-top:-6px;}
.kaij-mylist-hd .itm-time {float:right;    height: 5vw;
	line-height: 5vw;    font-size: 3.3vw;
	color: #5a5a5a; position: relative;}
.kaij-mylist-hd .itm-time-time{     position: absolute;
	right: 1vw;
	top: 7vw;
	color: #ffffff;
	padding: 0 1vw;
	background: #ef5e5e;
	border-radius: 0.5vw;}
.kaij-mylist-hd .itm-tit { height: 7vw; line-height: 7vw;}
.kaij-mylist-hd .itm-qih {margin-left:6px;font-size: 3.3vw;color:#5a5a5a;}

.kaij-mylist-bd .itm-result {
	/*font-size:14px;*/ margin-bottom: 1vw;font-size: 3.5vw; color: #666;
}


.kaij-mylist-l .ui-logo {width:32px;height:32px;-webkit-background-size:32px;background-size:32px;}

.ball-wrap {
	/*font-size:0; padding-top:5px;*/
	position: relative; overflow:hidden;    font-size: 3.2vw;}
.ball-red,.ball-blue {display:inline-block;
	margin-right: 1vw;
	width: 5vw;
	height: 5vw;
	line-height: 5vw;

	text-align:center;font-size:3.4vw;color:#fff;-webkit-border-radius:24px;border-radius:24px;text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);}
.ball-red {background:#EF5E5E;}
.ball-blue {background:#0d76c6;}
/*
.ball-red,.ball-blue {display:inline-block;-webkit-box-shadow:0 0 0 1px #bc102d;box-shadow:0 0 0 1px #bc102d;-webkit-border-radius:.916rem;border-radius:.916rem;text-align:center;color:#bc102d;width:21px;height:21px;line-height:21px;text-align:center;font-size:12px; margin-left:5px; margin-bottom:1px}

*/

.list-arrow {display:inline-block;width:8px;height:13px;background:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAZCAMAAAAPIl6bAAAAPFBMVEUAAACqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqqrflK3yAAAAE3RSTlMABfPSnUwxEeTDq4xxXSMa3Ld+czkDMQAAAGBJREFUGNONkUsOgCAMBfkjIAi++9/VrRMSI8sJnbavpgdr8ILKRXLqSCTRuUiSpm6SXFSptkH+j7qTDK9mqV5ameomP1hW5bcfdNS3Y0x0wRyYlLtwW+axJ0bdV+rbXR5fhwQRmUSAmAAAAABJRU5ErkJggg==") no-repeat 0 0;background-size:8px;}
.bt-aa { overflow: hidden;text-align: center;}
.bt-aa a{     display: inline-block;
	width: 20vw;
	height: 6vw;
	line-height: 6vw;
	font-size: 3.2vw;
	text-align: center;
	margin: 1vw;
	background: #fcfcfc;
	border: 1px solid #dbdbdb;
	color: #666;
	border-radius: 0.5vw;}
 .bt-jg { overflow: hidden;text-align: left; padding: 0 1vw;font-size: 3.2vw;color: #666}
.bt-jg span{     display: inline-block;
	min-width: 5vw;
	height: 5vw;
	line-height: 5vw;
	font-size: 3.2vw;
	text-align: center;
	/* margin: 1vw; */
	margin-right: 1vw;
	/* background: #fcfcfc; */
	/* border: 1px solid #dbdbdb; */
	color: #666;
	border-radius: 0.5vw;}
.bt-jg .span-2{ padding: 0 0.6vw;}

#tcpk10 #number i,#xyft #number i,#pk10 #number i,#jssc #number i,#bjft #number i{
	display:inline-block;
	margin-right:1vw;
	width:5vw;
	height:5vw;
	line-height:5vw;
	text-align:center;color:#fff;-webkit-border-radius:0.5vw;border-radius:0.5vw;
     /*text-shadow:#555 1px 0 0,#555 0 1px 0,#555 -1px 0 0,#555 0 -1px 0;*/
    /*-webkit-text-shadow:#555 1px 0 0,#555 0 1px 0,#555 -1px 0 0,#555 0 -1px 0;*/
    /*-moz-text-shadow:#555 1px 0 0,#555 0 1px 0,#555 -1px 0 0,#555 0 -1px 0;*/
    *filter: Glow(color=#555, strength=1);
	font-weight:bolder ;  font-size:3.5vw;    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
}
.nums i{ text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);}
#xyft #number .no1,#pk10 #number .no1 {
		background: #FFCC00;
}
#xyft #number .no2,#pk10 #number .no2 {
	background:#0089ff;
}
#xyft #number .no3,#pk10 #number .no3 {
	background:#4d4d4d;
}
#xyft #number .no4,#pk10 #number .no4 {
	background:#ff7300;
}
#xyft #number .no5,#pk10 #number .no5 {
	background: #3399CC;
}
#xyft #number .no6,#pk10 #number .no6 {
	background:#5200ff;
}
#xyft #number .no7,#pk10 #number .no7 {
	background: #bbb;
}
#xyft #number .no8,#pk10 #number .no8 {
	background:#ff0000;
}
#xyft #number .no9,#pk10 #number .no9 {
	background:#760000;
}
#xyft #number .no10,#pk10 #number .no10 {
	background:#28c200;
}

#jssc #number .no1,#bjft #number .no1,#pk10 #number .no1,#tcpk10 #number .no1 {
	background: #FFCC00;
}
#jssc #number .no2,#bjft #number .no2,#pk10 #number .no2,#tcpk10 #number .no2{
	background:#0089ff;
}
#jssc #number .no3,#bjft #number .no3,#pk10 #number .no3 ,#tcpk10 #number .no3{
	background:#4d4d4d;
}
#jssc #number .no4,#bjft #number .no4,#pk10 #number .no4 ,#tcpk10 #number .no4{
	background:#ff7300;
}
#jssc #number .no5,#bjft #number .no5,#pk10 #number .no5 ,#tcpk10 #number .no5{
	background: #3399CC;
}
#jssc #number .no6,#bjft #number .no6,#pk10 #number .no6 ,#tcpk10 #number .no6{
	background:#5200ff;
}
#jssc #number .no7,#bjft #number .no7,#pk10 #number .no7 ,#tcpk10 #number .no7{
	background: #bbb;
}
#jssc #number .no8,#bjft #number .no8,#pk10 #number .no8 ,#tcpk10 #number .no8{
	background:#ff0000;
}
#jssc #number .no9,#bjft #number .no9,#pk10 #number .no9 ,#tcpk10 #number .no9{
	background:#760000;
}
#jssc #number .no10,#bjft #number .no10,#pk10 #number .no10 ,#tcpk10 #number .no10{
	background:#28c200;
}

/*#tcpk10 #number .no1,#bjft #number .no1,#pk10 #number .no1 {*/
	/*background: #FFCC00;*/
/*}*/
/*#tcpk10 #number .no2,#bjft #number .no2,#pk10 #number .no2 {*/
	/*background:#0089ff;*/
/*}*/
/*#tcpk10 #number .no3,#bjft #number .no3,#pk10 #number .no3 {*/
	/*background:#4d4d4d;*/
/*}*/
/*#tcpk10 #number .no4,#bjft #number .no4,#pk10 #number .no4 {*/
	/*background:#ff7300;*/
/*}*/
/*#tcpk10 #number .no5,#bjft #number .no5,#pk10 #number .no5 {*/
	/*background: #3399CC;*/
/*}*/
/*#tcpk10 #number .no6,#bjft #number .no6,#pk10 #number .no6 {*/
	/*background:#5200ff;*/
/*}*/
/*#tcpk10 #number .no7,#bjft #number .no7,#pk10 #number .no7 {*/
	/*background: #bbb;*/
/*}*/
/*#tcpk10 #number .no8,#bjft #number .no8,#pk10 #number .no8 {*/
	/*background:#ff0000;*/
/*}*/
/*#tcpk10 #number .no9,#bjft #number .no9,#pk10 #number .no9 {*/
	/*background:#760000;*/
/*}*/
/*#tcpk10 #number .no10,#bjft #number .no10,#pk10 #number .no10 {*/
	/*background:#28c200;*/
/*}*/
.itm-result span{ display: inline-block;
	min-width: 5vw !important;
	height: 5vw;
	line-height: 5vw;
	font-size: 3.2vw;
	text-align: center;
	margin: 0.5vw;
	background: #fcfcfc;
	/*border: 1px solid #dbdbdb;*/
	color: #666;
	border-radius: 0.5vw; vertical-align: middle;}
#jsk3 i{display: inline-block;
	float: left;
	margin-right: 5px;
	width: 36px;
	height: 40px;
	line-height: 36px;
	font-size: 20px;
	text-align: center;
	color: #fff;
	border-radius: 5px;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;}
	
	

.daojishi1{ padding-top: 8vw;position: relative;
	background:#fff; height:8vw; line-height:8vw;
	width:100%; margin:0 auto;
	
	z-index:88888;
	border-bottom:1px solid #d9d9d9;z-index:100;
	 
}
.xia-yxx-list{position: absolute;left: 0vw; top: 17vw; width: 100%; display: none; z-index: 999}
.xia-yxx-list{ background: #ffffff; overflow: hidden;border-bottom: 1px solid #aeaeae; padding-left: 0.7vw; padding-bottom: 1.5vw}

.xia-yxx-list li{     float: left;
	width: 23vw;
	text-align: center;
	font-size: 3.5vw;
	border: 1px solid #ddd;
	margin-left: 1vw;
	margin-top: 1vw;
	border-radius: 0.5vw; }
.xia-yxx-list li a{ display: block;width: 100%; height: 100%; color: #666666}
.daojishi1 .fl { font-size:3.8vw; margin-left:1vw;color: #333;}
.daojishi span{ color:#c31616; padding-right:13px; overflow: hidden;}

/*搜索*/

.gametool {
	/*position: fixed;*/
	/*top: 17vw;*/

	background: #fff;
	height: 7vw;
	line-height: 7vw;padding: 1vw;


	margin: 0 auto;
	border-bottom: 1px solid #d9d9d9;
	z-index: 100;position: relative;z-index: 1;
	
}

.gametool .fl {     font-size: 3.6vw;
	margin-left: 1vw;
	color: #333;}
.gametool .fr { margin-right:1vw}
.gametool .ul li {
	float:left;

}
/*.gametool ul li a { float:left; display:block; padding:0 6px 0 6px; font-size:13px; border:1px solid #ccc; background:#fff; color:#535353; margin-left:4px; height:27px; line-height:27px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; margin-top:3px }*/
/*.gametool ul li a:hover{ background:#f5f5f5}*/
/*.gametool ul li .cur{ background: #f5f5f5; border:1px solid #b8b8b8; }*/
.balllist {
 
overflow:hidden;
 
	width:100%; margin:0 auto;     margin-bottom: 1vw;padding-left: 1vw;


	
	
}

#xia-yxx-list2{top:8vw}
.balllist .ul li {
	float:left;

}
.balllist ul li a {float: left;
	display: block;
	width: 18vw;
	font-size: 13px;
	text-align: center;
	border: 1px solid #ccc;
	background: #fff;
	color: #535353;
	margin-left: 1vw;
	height: 6vw;
	line-height: 6vw;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	margin-top: 1vw; }
.balllist ul li a:hover{     background: #ef5e5e;
	color: #ffffff;}
.balllist ul li .cur{ background: #ef5e5e; border:1px solid #ef5e5e;color: #ffffff; }
.video{
 position:fixed;top:126px; 
overflow:hidden;
	background:#fff; height:30px; line-height:30px;
	width:100%; margin:0 auto;
	border-bottom:1px solid #d9d9d9;color:#c31616; }
	.video a{ color:#555; display:block; width:49.8%; float:left; text-align:center; }
.sp {
	background: url(../images/ico_sp.png) 8px 2px no-repeat; color: #666666;
	padding-left: 27px;
	padding-right: 10px;

}.video .qq {
	background: url(../images/qq.png) 8px 8px no-repeat;

}
.tabletop{
 position:fixed;top:126px; 
overflow:hidden;
	background:#fff; height:37px; line-height:37px;
	width:100%; margin:0 auto;
	border-bottom:1px solid #d9d9d9;color:#c31616; }
.openlist { text-align:center; color:#424242}
.openlist ul li { border-bottom:1px solid #ebebeb;font-size:3.5vw; padding: 1vw 0}
.openlist ul li span {
	display: inline-block;
	min-width: 5vw ;
	height: 5vw;
	line-height: 5vw;
	font-size: 3vw;
	text-align: center;
	margin: 0.4vw;
	/*background: #fcfcfc;*/
	/*border: 1px solid #dbdbdb;*/
	color: #666;
	border-radius: 0.5vw;
}
.openlist ul li .span1{font-size: 3vw; border: 0;background: none;}
.openlist ul .even{ background:#fafafa}

.tabletop-sp{
 /*position:fixed;top:157px; */
	overflow: hidden;
	background: #fff;
	height: 7vw;
	line-height: 7vw;
	width: 100%;
	margin: 0 auto;
	border-bottom: 1px solid #d9d9d9;
	color: #c31616;
	font-size: 3.5vw;}
.openlist-sp { text-align:center; color:#424242}
.openlist-sp ul li { border-bottom:1px solid #d9d9d9; height:33px; line-height:33px;font-size:12px}
.openlist-sp ul .even{ background:#fafafa}

#dateData {background: url(../images/date.png) no-repeat right;
	background-size: 35px;
	width: 30vw;
	height: 5vw;
	border: 1px solid #aeaeae;
	border-radius: 0.5vw;
	color: #333333;
	padding-left: 1vw;     font-size: 3vw;}


/*列表*/
.lot-table {
	/*width: 96%;*/
	text-align: center;
	background:#fff;
	/*margin:0 auto*/
}
.lot-table .head {
	height: 40px;
	background-color: #f9f9f9
}
.lot-table td {
	border: solid 1px #ddd;
	height: 25px
}
.lot-table tbody td {
	border: solid 1px #ddd;
	height: 37px
}
.lot-table .odd {
	background-color: #fff;
	font-size: 13px
}
.lot-table .even {
	background-color: #f9f9f9;
	font-size: 13px
}
.lot-table .lose {
	color: #21961c
}
.lot-table .win {
	color: #e84147
}
.lot-table .align {
	text-align: center
}

#container{ height:200px; width:100%; margin:0 auto; text-align:center; line-height:200px; background:#fff}
.container{ height:200px; width:100%; margin:0 auto; text-align:center; line-height:200px; background:#fff; margin-bottom:3px}
/*文章列表*/
.list {border-top:1px solid #ECECEC;background:#fff; padding:0 5px 0 5px;}
.list li {position:relative;border:solid #ECECEC;border-width:0 0 1px 0;}
.list li > a {display:block;padding:13px 0;color:#333;}
.list li > a:hover {background-color:#F5F5F5;}
.list li span { float:right; margin-top:20px; margin-right:2px}
.pages { background:#eee; border-bottom:1px solid #ddd; overflow:hidden; height:35px; line-height:35px; padding-left:5px; padding-right:5px}
.pages a{ display:block; font-size:20px; color:#333}
.pages .prev{ float:left; width:50%; text-align:left}
.pages .next{ float:right; width:50%; text-align:right}

.article {background:#fff; padding:0 5px 0 5px;}
.article .title{ font-size:17px; text-align:center; height:25px; line-height:25px; }
.article .info { text-align:center; font-size:12px; color:#888; border-bottom:1px dashed #ddd}
.article .content{ padding:5px; line-height:30px; color:#444}

.footer{ text-align:center; padding:15px 0 10px;}
.footer_nav{color:#ccc;}
.footer_nav a{ font-size:15px;color:#2b5eb2;margin:0 5px;}
.footer_nav span{color:#666;}
.hot_phone{border:1px solid #c1c1c1; width:255px; height:26px; line-height:26px; text-align:center;color:#999; font-size:14px; margin:10px auto 0;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;}
.footer_copy{color:#666; padding-top:10px; font-size:12px;}


.select-box{  width: 25vw;
	height: 6vw;
	line-height: 6vw;
	border: 1px solid #cacaca;
	border-radius: 5px;
	padding-left: 1vw;
	margin-left: 1vw;
	 font-size: 3.5vw;}

.xialabt {
	border: none;
	width: 6vw;
	height: 6vw;
	text-indent: -900em;
	overflow: hidden; display: inline-block;

	cursor: pointer;
	outline: none;
	background:  url(../images/icon-back2.png) no-repeat center center;
	background-size: 30%;    vertical-align: middle;
}

.xialabt-on{
	border: none;
	width: 6vw;
	height: 6vw;
	text-indent: -900em;
	overflow: hidden; display: inline-block;

	cursor: pointer;
	outline: none;
	background:  url(../images/icon-back-up.png) no-repeat center center;
	background-size: 30%;    vertical-align: middle;
}

#historyList .bt-jg{ font-size: 3vw!important; text-align: left;    padding-left: 0;}
#historyList .bt-jg span {
	display: inline-block;
	 margin-top: 1vw;
	margin-left: 0;
	margin-right: 1vw;
	min-width: 5vw;
	height: 3vw;
	line-height: 3vw;
	font-size: 3vw;
	text-align: center;

	padding: 1vw 0;
	/*background: #fcfcfc;*/
	/*border: 1px solid #dbdbdb;*/
	color: #666;
	border-radius: 0.5vw;
}

.changlongtj .line2box ul {
	text-align: center;

	overflow: hidden; background: #ffffff;  padding: 1.5vw 0 2vw 1vw;

}
.changlongtj .line2box ul li {
	border-radius: 3px;
	font-size: 3vw;
	background: #fff;
	box-shadow: 0 0.04rem 0.06rem rgba(0,0,0,.09);
	display: inline-block;
	float: left;
	box-sizing: border-box;
	padding: 0;
	height: 5vw;
	line-height: 5vw;
	width: auto;
	color: #666;
	/* margin: 1vw 1vw 0; */
	margin-left: 1vw;
	margin-top: 1vw;
	width: 23vw;
}
.nums-div{text-align: left;
	margin: 0 auto;
	display: inline-block;vertical-align: middle;}