<!DOCTYPE html>
<html>
<head>

<title>{:C('WEB_SITE_NAME')}</title>
<meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}" />
<meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="zh-cn" />
<meta http-equiv="x-ua-compatible" content="ie=7" /> 
<link rel="stylesheet" href="css/login.css"  />
<style>
       #container
       {
           min-height: 600px;
       }
       footer
       {
       	  height:88px;
           position: fixed;
           _position: absolute;
           bottom: 0;
           left: 0;
       }
   </style>
<script type="text/javascript" src="js/util/jquery.min.js" ></script>
<link href="js/util/Validform/themes/style.css"  rel="stylesheet" />
<script type="text/javascript" src="js/util/Validform/Validform_v5.3.2_min.js" ></script>
<script type="text/javascript" src="js/util/httpUtil.js" ></script>
<!--[if lt IE 9]>
    <script type="text/javascript" src="js/html5shiv.js"
            ></script>
    <![endif]-->
</head>
<body>
<div id="container">
    <header>
	<div id="header">
		<h1 id="logo">
			<a title="{:C('WEB_SITE_NAME')}" href="" ></a> <label>{:C('WEB_SITE_NAME')}</label>
		</h1>
		<ul id="nav">
			<li><a class="home" href="" >{:C('WEB_SITE_NAME')}</a></li>
<!-- 			<li><a class="zhibo" href="#">开奖直播</a></li> -->
<!-- 			<li><a class="software" href="#">软件中心</a></li> -->
		</ul>
	</div>
</header> 
    <div class="rpw_content_wrap">
            <div id="rpw_content">
                <ul class="step">
                    <li id="step-li-1" class="current"><strong>1</strong> <span>輸入郵箱</span> </li>
                    <li id="step-li-2"><strong>2</strong> <span>驗證身份</span> </li>
                    <li id="step-li-3"><strong>3</strong> <span>重置密碼</span> </li>
                    <li id="step-li-4"><strong>4</strong> <span>完成</span> </li>
                </ul>
                <div class="wrap_step_content">
                    <!--第一步:輸入賬號-->
                    <div class="step1 step0" style="display: black;">
                        <form id="findPwForm" action="User/getEmailByFindPwd.do" method="post">
                        <div class="typt_notice">
                        </div>
                        <div id="validMsg1" style="margin-left:220px;height: 22px;">&nbsp;</div>
                        <table>
                            <tbody>
                                <tr>
                                    <td align="right">
                                        郵&nbsp;&nbsp;箱：
                                    </td>
                                    <td>
                                        <input type="text" id="userEmail" name="userEmail" datatype="e"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="right">
                                        驗證碼：
                                    </td>
                                    <td>
                                        <input style="width: 168px;" maxlength="4" type="text" id="validcode" name="validcode" datatype="s4-4" nullmsg="請輸入驗證碼" errormsg="請輸入正確的驗證碼"/>
                                        <img src="ucutil/getValidateCode.do"  id="validcodeImg" onclick='this.src = "/ucutil/getValidateCode.do?" + Math.random()' style="height:30px; width:80px; " />
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        &nbsp;
                                    </td>
                                    <td>
                                        <a class="button_f1 next" href="javascript:" onclick="$('#findPwForm').submit();" id="find_pwd">找回密碼</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        </form>
                    </div>
                    <!--第二步:驗證身份-->
                    <div class="step2 step0" style="display: none;">
                        <img src="images/mail_2.png"  />
                        <p id="mail_addr" class="rreedd"></p>
                        <p class="rreedd" id="mail_addr">
                        </p>
	                        <h4>
	                                                                          驗證信息已發送到您绑定的郵箱帳號內，请查收并按说明操作。
	                            <span class="rreedd" >登錄郵箱</span>
                            </h4>
                    </div>
                    <!--第三步:重置密碼-->
                    <div class="step3 step0" style="display: none;">
                	<form id="updateFindPwForm" action="User/updatePwdFindPwd.html" method="post">
                    	<div class="typt_notice"></div>
                    	<div id="validMsg2" style="margin-left:220px;height: 22px;">&nbsp;</div>
                    	<table>
                        	<tbody>
                            	<tr>
                                	<td align="right">輸入密碼：</td>
                                    <td>
                                    	<input type="password" name="newPwd" id="newPwd" datatype="*6-16" nullmsg="请设置密码！" errormsg="密码范围在6~16位之间！"/>
                                    </td>
                                </tr>
                                <tr>
                                	<td align="right">再次輸入密碼：</td>
                                    <td>
                                    	<input type="password" name="newPwd2" id="newPwd2" datatype="*"  recheck="newPwd" nullmsg="请再输入一次密码！" errormsg="您两次输入的账号密码不一致！"/>
                                    </td>
                                </tr>
                                <tr>
                                	<td>&nbsp;</td>
                                    <td>
                                    <input type="hidden" id="lid" name="lid" value="" />
                                    <input type="hidden" id="timeStamp" name="timeStamp" value="" />
                                    <input type="hidden" id="validateString" name="validateString" value="" />
                                    	<a class="button_f1 next" id="resetbtn" href="javascript:;" onclick="$('#updateFindPwForm').submit();">提交</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
                <!--完成:完成-->
                <div class="step4 step0" style="display:none">
                    <img class="f_or_s" src="images/success.png"  alt="success" />
   
                    <div class="turn_notice">
                        <h2>您已成功設置新密碼! 請使用新密碼進行登錄, <strong class="rreedd" id="change_url_auto2">5秒</strong>后返回會員登錄頁</h2>
                        <a class="button_f1 next" id="relogin" href="login.html" >重新登錄</a>
                    </div>
                </div>
                    
                </div>
            </div>
        </div>
    <footer>
    <div id="gm_footer">
    	<p class="linkbox">
		<a href="404.html"  rel="nofollow">关于{:C('WEB_SITE_NAME')}</a>|
<!-- 		<a href="http://www.royaleu.com/business/" target="_blank" rel="nofollow">广告服务</a>|  -->
<!-- 		<a href="http://www.royaleu.com/about/values.html" target="_blank" rel="nofollow">皇家价值观</a>|  -->
		<a href="404.html"  target="_blank" rel="nofollow">法律声明</a>
	</p>
	<p>{:C('WEB_SITE_NAME')}版权所有 @2008-2014</p>
 
    </div>
    </footer>
</div>

<script type="text/javascript">
$(document).ready(function() {
	var Request = new Object();
	Request = GetRequest();
	var type = Request['type'];
	var lid = Request['lid'];
	var timeStamp=Request['timeStamp'];
	var validateString=Request['validateString'];
	$("#lid").attr("value",lid);
	$("#timeStamp").attr("value",timeStamp);
	$("#validateString").attr("value",validateString);
	
	if(type&&type==3){
		$("#step-li-1").removeClass("current");
		$("#step-li-2").removeClass("current");
		$("#step-li-3").addClass("current");
		$(".step1").hide();
		$(".step2").hide();
		$(".step3").show();
	}
// 	$.Tipmsg.r="";//默认成功消息
	$("#findPwForm").Validform({
		tiptype:function(msg,o,cssctl){
			var objtip=$("#validMsg1");
			cssctl(objtip,o.type);
			objtip.text(msg);
		},
// 		tiptype:5,
		ajaxPost:true,
		callback:function(r) {
			$("#validMsg1").html("");
			if(r.status&&r.status==500){
				alert("網絡異常");
			}else{
				if (r.success) {
					$("#mail_addr").html(r.msg);
					$(".step1").hide();
					$("#step-li-1").removeClass("current");
					$(".step2").show();
					$("#step-li-2").addClass("current");
				} else {
					$("#validcode").val("")
					alert(r.msg);
					$("#validcodeImg").click();
				}
			}
		}
	});
	var gotoI=5;
	$("#updateFindPwForm").Validform({
		tiptype:function(msg,o,cssctl){
			var objtip=$("#validMsg2");
			cssctl(objtip,o.type);
			objtip.text(msg);
		},
		ajaxPost:true,
		callback:function(r) {
			$("#validMsg2").html("");
			if(r.status&&r.status==500){
				alert("網絡異常");
			}else{
				if (r.success) {
					$(".step3").hide();
					$("#step-li-3").removeClass("current");
					$(".step4").show();
					$("#step-li-4").addClass("current");
					setInterval(function(){
						gotoI-=1;
						$("#change_url_auto2").html(gotoI);
						if(gotoI==1)
							location.href="Common/login.html";
					},1000);
				} else {
					alert(r.msg);
				}
			}
		}
	});
});
</script>
</body>
</html>