<div>

    <div class="business" style='display:<empty name="WEB_SITE_AD_TOP1_PIC">none<else />block</empty>'>
        <a href="{:C('WEB_SITE_AD_TOP1_LINK')}" target='_blank' rel="nofollow">
            <img src="{:C('WEB_SITE_AD_TOP1_PIC')}"  />
        </a>
    </div>
    <div class="business" style='display:<empty name="WEB_SITE_AD_TOP2_PIC">none<else />block</empty>'>
        <a href="{:C('WEB_SITE_AD_TOP2_LINK')}"  target='_blank' rel="nofollow">
            <img src="{:C('WEB_SITE_AD_TOP2_PIC')}"  />
        </a>
    </div>
    <div class="business" style='display:<empty name="WEB_SITE_AD_TOP3_PIC">none<else />block</empty>'>
        <a href="{:C('WEB_SITE_AD_TOP3_LINK')}"  target='_blank' rel="nofollow">
            <img src="{:C('WEB_SITE_AD_TOP3_PIC')}"  />
        </a>
    </div>
    <div class="business" style='display:<empty name="WEB_SITE_AD_TOP4_PIC">none<else />block</empty>'>
        <a href="{:C('WEB_SITE_AD_TOP4_LINK')}"  target='_blank' rel="nofollow">

            <img src="{:C('WEB_SITE_AD_TOP4_PIC')}"  />
        </a>
    </div>

</div>